.DS_Store
NNbenchmark-BNN-Rplots.pdf
NNbenchmark-BNN.R
NNbenchmark-Buddle.R
NNbenchmark-GMDHreg-Rplots.pdf
NNbenchmark-GMDHreg.R
NNbenchmark-deep.R
NNbenchmark-deepNN.R
NNbenchmark-gamlss.add-Rplots.pdf
NNbenchmark-gamlss.add.R
NNbenchmark-grnn-Rplots.pdf
NNbenchmark-grnn.R
